<div class="courses" fxLayout fxLayout.xs="column" fxLayoutGap="30px">
  <!-- courses list -->
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Courses List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        <mat-list-item
          *ngFor="let course of courses"
          (click)="selectCourse(course)"
        >
          <h3 matLine>{{ course.title }}</h3>
          <button
            mat-icon-button
            color="warn"
            (click)="deleteCourse(course, $event)"
          >
            <mat-icon>delete_outline</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
  </mat-card>

  <!-- details -->
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Select Course</mat-card-title>
    </mat-card-header>
    <form #form="ngForm" (submit)="saveCourse(form)">
      <mat-card-content>
        <!-- course form -->
        <input
          hidden="true"
          matInput
          type="number"
          name="id"
          placeholder="id"
          [(ngModel)]="selectedCourse.id"
        />
        <mat-form-field>
          <input
            matInput
            type="text"
            name="title"
            placeholder="Title"
            required
            [(ngModel)]="selectedCourse.title"
          />
        </mat-form-field>
        <mat-form-field>
          <input
            matInput
            type="text"
            name="description"
            placeholder="Description"
            [(ngModel)]="selectedCourse.description"
          />
        </mat-form-field>
        <div class="percentage">
          <p>Percentage</p>
          <mat-slider
            [displayWith]="formatLabel"
            thumbLabel
            step="1"
            min="0"
            max="100"
            aria-label="units"
            name="percentComplete"
            [(ngModel)]="selectedCourse.percentComplete"
          ></mat-slider>
        </div>
        <mat-checkbox
          class="example-margin"
          name="favourite"
          color="primary"
          [(ngModel)]="selectedCourse.favourite"
          >Favourite</mat-checkbox
        >
      </mat-card-content>
      <mat-card-actions>
        <button
          type="submit"
          mat-flat-button
          color="primary"
          [disabled]="form.invalid"
        >
          Submit
        </button>
        <button type="button" mat-stroked-button (click)="cancel()">
          Cancel
        </button>
      </mat-card-actions>
    </form>
    <pre>
      {{ form.value | json }}
      {{ form.valid | json }}
    </pre>
  </mat-card>
</div>
