<div class="courses" fxLayout fxLayout.xs="column" fxLayoutGap="30px">
  <!-- courses list -->
  <mat-card fxFlex="50">
    <mat-card-header>
      <mat-card-title>Courses List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <!-- course-list component -->
      <app-courses-list
        [courses]="courses"
        (selected)="selectCourse($event)"
        (deleted)="deleteCourse($event)"
      ></app-courses-list>
    </mat-card-content>
  </mat-card>

  <mat-card fxFlex="50">
    <!-- course details component -->
    <app-course-details
      [course]="selectedCourse"
      (saved)="saveCourse($event)"
      (canceled)="cancel()"
    ></app-course-details>
  </mat-card>
</div>
