.courses {
  margin: 0 0.75rem;
  height: 100%;
  padding-bottom: 10px;
}
mat-card {
  max-width: 100% !important;
  mat-card-title {
    padding-bottom: 6px;
    border-bottom: 2px solid var(--primary);
  }
  mat-list {
    overflow: hidden;
    mat-list-item {
      transition: all 0.2s ease-in-out;
      border-radius: 5px;
      display: block;
      padding: 0 10px;
      width: auto;
      h3 {
        text-transform: capitalize;
      }
      &:hover {
        background-color: var(--gray);
      }
    }
  }
}

// @media (min-width: 768px) {
// }

@media screen and (max-width: 768px) {
  mat-list {
    mat-list-item {
      padding: 0 !important;
      h3 {
        padding-left: 10px;
      }
    }
  }
}
