<mat-expansion-panel (closed)="closeOtherPanels()">
  <mat-expansion-panel-header>
    <mat-panel-title> //something </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> //5555555 </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> //5555555 </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
</mat-expansion-panel>
<mat-expansion-panel (closed)="closeOtherPanels()">
  <mat-expansion-panel-header>
    <mat-panel-title> //something </mat-panel-title>
  </mat-expansion-panel-header>
  <ng-template matExpansionPanelContent>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> //5555555 </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
      </ng-template>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> //5555555 </mat-panel-title>
      </mat-expansion-panel-header>
      <ng-template matExpansionPanelContent>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
        <p>hhhhhhhh</p>
      </ng-template>
    </mat-expansion-panel>
  </ng-template>
</mat-expansion-panel>
